<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">PV points</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">
            <router-link to="/wallet">My Wallet</router-link>
          </li>
          <li class="breadcrumb-item active">PV Points</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row point-container">

              <div class="col-md-5">
                <div class="row pv">
                  <div class="col">
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="col">
                    <h3>PV Points</h3>
                    <span>{{balance}}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <router-link class="btn btn-block btn-info" to="/withdraw/pvpoint">Add new withdraw</router-link>
                <router-link class="btn btn-block btn-info" to="/transfer/pvpoint">Add new transfer</router-link>
              </div>

            </div>

            <history-table tabletype="1" tablename="PV Points"></history-table>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import historyTable from "../components/walletHistoryTable";

export default {
  data() {
    return {
      balance: 0,
      wallets: {}
    };
  },
  methods: {
    getBalance() {
      _.map(this.$store.getters.getWalletsData, wallet => {
        if (wallet.name == "PV Points") {
          this.balance = wallet.amount;
        }
      });
    }
  },
  components: {
    historyTable
  },

  mounted() {
    this.getBalance();
    //this.getHistoryLog()
  }
};
</script>

<style scoped>
i {
  font-size: 80px;
}

.pv {
  padding: 15px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pv span {
  font-weight: bold;
  font-size: 30px;
}

i.fa-heart {
  color: crimson;
}

.point-container {
  padding: 20px 20px;
}
.historylog-container {
  padding: 15px 45px;
}
</style>
