<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Transfer</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">
            <router-link to="/wallet">My Wallet</router-link>
          </li>
          <li class="breadcrumb-item active">Transfer {{walletname != "" ? walletname : ''}}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">

              <div class="col-md-12  px-5 py-3">
                <h2 class="pb-2">New Transfer Request</h2>
                <div class="row ec">
                  <TransferForm />
                </div>
              </div>
            </div>

            <div class="history-log">
              <history-log></history-log>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import TransferForm from "../components/transferForm";
import HistoryLog from "../components/historyLog";

export default {
  data() {
    return {
      wallets: {},
      filterPage: {
        pageLength: 5
      },
      walletname: ""
    };
  },
  methods: {
    setWalletName() {
      switch (this.walletName) {
        case "ecash":
          this.walletname = "e Cash";
          break;
        case "rewardspoints":
          this.walletname = "Rewards Point";
          break;
        default:
          this.walletname = "PV Point";
      }
    }
  },
  components: {
    TransferForm,
    HistoryLog
  },

  mounted() {
    if (this.walletName != undefined) this.setWalletName();
  },

  computed: {
    walletName() {
      return this.$route.params.wallet;
    }
  }
};
</script>

<style scoped>
i {
  font-size: 80px;
}

.ec {
  padding: 15px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ec span {
  font-weight: bold;
  font-size: 30px;
}

i.fa-money {
  color: green;
}

.point-container {
  padding: 20px 20px;
}
.historylog-container {
  padding: 15px 45px;
}
</style>
