<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Withdraw</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">
            <router-link to="/wallet">My Wallet</router-link>
          </li>
          <li class="breadcrumb-item active">Withdraw {{walletname != "" ? walletname : ''}}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row point-container">

              <div class="col-md-6">
                <h2>New Withdrawal Request</h2>
                <div class="row ec">
                  <WithdrawForm />
                </div>
              </div>
            </div>

            <div class="row historylog-container">
              <h2>History Log</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th @click="sort('created_at')" class="gray">DateTime <i :class="currentSortDir == 'asc' ? 'fa fa-arrow-up float-right' : 'fa fa-arrow-down float-right'"></i></th>
                    <th class="lightgray">Wallet</th>
                    <th class="gray">Type</th>
                    <th class="lightgray">Amount (RM)</th>
                    <th class="gray">Status</th>
                    <th class="lightgray">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="log in sortedData" :key="log.key">
                    <td>{{log.created_at.split(' ')[0]}}</td>
                    <td>{{log.distributor_wallet_name}}</td>
                    <td>{{log.type}}</td>
                    <td>{{log.amount}}</td>
                    <td>{{log.status}}</td>
                    <td>{{log.description}}</td>
                  </tr>
                </tbody>
              </table>
              <div v-if="pagination.items != pagination.total" class="button-group w-100">
                <button @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url" class="float-right btn btn-light">Next</button>
                <button @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url" class="float-right btn btn-light">Previous</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import WithdrawForm from "../components/withdrawForm";

export default {
  data() {
    return {
      wallets: {},
      historyLog: [],
      currentSort: "created_at",
      currentSortDir: "desc",
      walletname: "",
      pagination: {},
      url: "/api/distributor/transactionhistory"
    };
  },
  methods: {
    getHistoryLog(params) {
      axios
        .get(this.url, params)
        .then(({ data: { data, success } }) => {
          if (!success) {
            toastr["error"](data.errors);
            return;
          }
          this.historyLog = data.data;
          this.makePagination(data);
        })
        .catch(err => console.log(err));
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        items: this.historyLog.length,
        total: data.total
      };

      this.pagination = pagination;
    },
    fetchPagination(url) {
      this.url = url;
      this.getHistoryLog({
        params: { wallet_id: "all" }
      });
    },
    setWalletName() {
      switch (this.walletName) {
        case "ecash":
          this.walletname = "e Cash";
          break;
        case "rewardspoints":
          this.walletname = "Rewards Point";
          break;
        default:
          this.walletname = "PV Point";
      }
    },
    sort(option) {
      if (option === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = option;
    }
  },
  components: {
    WithdrawForm
  },
  mounted() {
    this.getHistoryLog({
      params: { wallet_id: "all" }
    });
    if (this.walletName != undefined) this.setWalletName();
  },
  computed: {
    walletName() {
      return this.$route.params.wallet;
    },
    sortedData() {
      return this.historyLog.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      });
    }
  },
  watch: {
    $route(to, from) {
      location.reload();
    },
    endpage(newVal, oldVal) {
      console.log(newVal > this.historyLog.data.length);
      if (newVal > this.historyLog.data.length) {
        this.disableNext = true;
      } else {
        this.disableNext = false;
      }
    },
    startpage(newVal) {
      if (newVal > 0) {
        this.disablePrev = false;
      } else {
        this.disablePrev = true;
      }
    }
  }
};
</script>

<style scoped>
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}

.ec {
  padding: 15px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ec span {
  font-weight: bold;
  font-size: 30px;
}

i.fa-money {
  color: green;
}

.point-container {
  padding: 20px 20px;
}
.historylog-container {
  padding: 15px 45px;
}
</style>
