<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Add New Distributor</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Add New Distributor</li>
        </ol>
      </div>
    </div>

    <form class="px-3" @submit.prevent="submit">
      <fieldset>
        <legend>Personal Details</legend>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.fullname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Full Name: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.fullname.$model" type="text" class="form-control">
            <div v-if="!$v.personaldetails.fullname.required" class="error">Full Name is required</div>
            <div v-if="!$v.personaldetails.fullname.minLength" class="error">Please enter at least 6 character</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.email.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Email: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.email.$model" type="email" class="form-control">
            <div v-if="!$v.personaldetails.email.required" class="error">Email is required</div>
            <div v-if="!$v.personaldetails.email.email" class="error">Please enter correct email</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.contact.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Contact Number: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.contact.$model" type="text" class="form-control">
            <div v-if="!$v.personaldetails.contact.required" class="error">Contact Number is required</div>
            <div v-if="!$v.personaldetails.contact.numeric" class="error">Contact Number must be number</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.icnum.$error}">
          <div class="col-sm-3 text-right">
            <label for="">IC Number / Passport: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.icnum.$model" type="text" class="form-control">
            <div v-if="!$v.personaldetails.icnum.required" class="error">IC/Passport Number is required</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.nationality.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Nationality: </label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" v-model="$v.personaldetails.nationality.$model">
              <option v-for="(country, index) in countries" :key="index">{{country}}</option>
            </select>
            <div v-if="!$v.personaldetails.nationality.required" class="error">Email is required</div>
          </div>
        </div>
      </fieldset>

      <br>

      <fieldset>
        <legend>Package Details</legend>

        <div class="form-group row" :class="{'form-group--error': $v.packdetails.package.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Package: </label>
          </div>
          <div class="col-sm-9">
            <select v-model="$v.packdetails.package.$model" class="form-control">
              <option value="1">Gold</option>
              <option value="2">Silver</option>
              <option value="3">Platinum</option>
            </select>
            <div v-if="!$v.packdetails.package.required" class="error">This field is required</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error': $v.packdetails.directupline.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Direct Upline: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.packdetails.directupline.$model" type="text" class="form-control">
            <div v-if="!$v.packdetails.directupline.required" class="error">This field is required</div>
            <div v-if="!$v.packdetails.directupline.alpha" class="error">Please enter correct upline id</div>
          </div>
        </div>

      </fieldset>

      <br>

      <fieldset>
        <legend>Bank Account Details</legend>

        <div class="form-group row" :class="{'form-group--error': $v.bankdetails.bankname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Bank Name: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.bankname.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.bankname.required" class="error">Bank Name is required</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.accnumber.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Account Number: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.accnumber.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.accnumber.required" class="error">Account Number is required</div>
            <div v-if="!$v.bankdetails.accnumber.numeric" class="error">Account number must be numeric</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.beneficiaryname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Benificiary Name: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.beneficiaryname.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.accnumber.required" class="error">Name is required</div>
            <div v-if="!$v.bankdetails.accnumber.minLength" class="error">Please enter at least 6 character</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.email.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Email: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.email.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.email.required" class="error">Email is required</div>
            <div v-if="!$v.bankdetails.email.email" class="error">Please enter a correct email</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.contact.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Contact Number: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.contact.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.contact.required" class="error">Contact field is required</div>
          </div>
        </div>

      </fieldset>

      <div class="button-group w-100 pb-5">
        <input class="btn btn-info float-right" type="submit" value="Submit">
      </div>
    </form>
  </div>
</template>

<script>
import addValidation from "./mixins/addValidation";

export default {
  data() {
    return {
      personaldetails: {
        fullname: "",
        email: "",
        contact: "",
        icnum: "",
        nationality: ""
      },
      packdetails: {
        package: "1",
        directupline: ""
      },
      bankdetails: {
        bankname: "",
        accnumber: "",
        beneficiaryname: "",
        email: "",
        contact: ""
      }
    };
  },
  validations: addValidation,
  methods: {
    submit() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        toastr["error"]("Please correct all the fields");
        return;
      }
      this.addDistributor().then(({ data }) => {
        if (!data.success) {
          if (data.errors.length == 1) {
            toastr["error"](data.errors[0]);
            this.resetForm();
          } else {
            data.errors.map(err => {
              toastr["error"](err);
              this.resetForm();
            });
          }
          return;
        }

        toastr["success"](data.message);
        this.resetForm();
      });
    },
    resetForm() {
      this.$v.$reset();
      this.personaldetails = {
        fullname: "",
        email: "",
        contact: "",
        icnum: "",
        nationality: ""
      };
      this.packdetails = {
        package: "1",
        directupline: ""
      };
      this.bankdetails = {
        bankname: "",
        accnumber: "",
        beneficiaryname: "",
        email: "",
        contact: ""
      };
    },
    addDistributor() {
      return axios.post("/api/distributor/add-distributor", {
        upline: {
          id: this.uplineData.distributor_id,
          name: this.uplineData.name,
          email: this.uplineData.email,
          upline_path: this.uplineData.distributor_path,
          path: "Right"
        },
        personalDetails: {
          fullName: this.personaldetails.fullname,
          email: this.personaldetails.email,
          contact: this.personaldetails.contact,
          icnum: this.personaldetails.icnum,
          nationality: this.personaldetails.nationality
        },
        packageDetails: {
          package: this.packdetails.package
        },
        bankDetails: {
          bankName: this.bankdetails.bankname,
          accnum: this.bankdetails.accnumber,
          beneficiaryName: this.bankdetails.beneficiaryname,
          contact: this.bankdetails.contact
        }
      });
    }
  },
  computed: {
    countries() {
      return country;
    },
    uplineData() {
      return this.$store.getters.getUserData.distributor;
    }
  }
};
</script>

<style scoped>
@media (min-width: 1281px) {
  form {
    width: 70%;
  }
}

fieldset {
  border: 1px groove #eee !important;
  padding: 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px 0px #ddd;
}

legend {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
</style>

