<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Distributor List</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Distributor List</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card  p-3">
          <div class="card-body">
            <table class="table table-stripe">
              <thead>
                <tr>
                  <th class="gray">ID</th>
                  <th class="lightgray">Name</th>
                  <th class="gray">Email</th>
                  <th class="lightgray">Distributor Upline</th>
                  <th class="gray">Status</th>
                  <th class="lightgray">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(distributor,index) in distributors" :key="index">
                  <td>{{distributor.distributor_id}}</td>
                  <td>{{distributor.name}}</td>
                  <td>{{distributor.email}}</td>
                  <td>{{distributor.upline_distributor_id}}</td>
                  <td>{{distributor.status}}</td>
                  <td>
                    <div class="button-group float-right">
                      <button v-if="distributor.status == 'pending'" class="btn btn-info" @click="approve(distributor.distributor_id)">Approve</button>
                      <button v-if="distributor.status == 'pending'" class="btn btn-secondary" @click="reject(distributor.distributor_id)">Reject</button>
                      <button v-if="distributor.status == 'activated'" class="btn btn-warning" @click="ban(distributor.distributor_id)">Ban</button>
                      <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remove user" @click="remove(distributor.distributor_id)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div v-if="pagination.per_page != pagination.total" class="pagination btn-group float-right">
              <button class="btn btn-primary" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Prev</button>
              <button class="btn btn-primary" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      distributors: [],
      url: "/api/distributor/get-distributor/",
      pagination: []
    };
  },
  mounted() {
    this.getAllDistributor();
  },
  methods: {
    getAllDistributor() {
      axios
        .get(this.url, { params: { status: "activated" } })
        .then(({ data: { data: users, success } }) => {
          if (success) {
            this.makePagination(users);
            this.distributors = users.data;
          }
        });
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        per_page: data.per_page,
        total: data.total
      };

      this.pagination = pagination;
    },
    fetchPagination(url) {
      this.url = url;
      this.getAllDistributor();
    },
    approve(id) {
      toastr["success"]("User approved!");
    },
    reject(id) {
      toastr["warning"]("User rejected!");
    },
    ban(id) {
      toastr["error"]("User banned!");
    },
    remove(id) {
      toastr["error"]("User removed!");
    }
  }
};
</script>

<style>
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}
</style>

