<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Edit My Distributor Profile</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Edit My Distributor Profile</li>
        </ol>
      </div>
    </div>

    <form @submit.prevent="submit">
      <fieldset>
        <legend>Personal Details</legend>
        <div class="form-group row">
          <div class="col-sm-3 text-right">
            <label for="">Distributor ID: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" disabled v-model="userdata.distributor_id" class="form-control">
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.name.$error }">
          <div class="col-sm-3 text-right">
            <label for="">Full Name: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.name.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.name.required">Name is required</div>
            <div class="error" v-if="!$v.userdata.name.minLength">Please at least 4 character</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.email.$error }">
          <div class="col-sm-3 text-right">
            <label for="">Email: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model.trim="$v.userdata.email.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.email.required">Email is required</div>
            <div class="error" v-if="!$v.userdata.email.email">Please enter correct email</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.phone_number.$error }">
          <div class="col-sm-3 text-right">
            <label for="">Contact Number: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.phone_number.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.phone_number.required">Phone number is required</div>
            <div class="error" v-if="!$v.userdata.phone_number.minLength">Please enter at least 10 digit</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.id_passport.$error }">
          <div class="col-sm-3 text-right">
            <label for="">IC Number / Passport: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.id_passport.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.id_passport.required">IC number is required</div>
            <div class="error" v-if="!$v.userdata.id_passport.icnum">Please enter correct IC number</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.nationality.$error }">
          <div class="col-sm-3 text-right">
            <label for="">Nationality: </label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" v-model="$v.userdata.nationality.$model">
              <option v-for="(country, index) in countries" :key="index">{{country}}</option>
            </select>
            <div class="error" v-if="!$v.userdata.nationality.required">Nationality is required</div>
          </div>
        </div>
      </fieldset>
      <br>
      <fieldset>
        <legend>Package Details</legend>

        <div class="form-group row">
          <div class="col-sm-3 text-right">
            <label for="">Package: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" disabled v-model="userdata.package_name" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3 text-right">
            <label for="">Direct Upline: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" disabled v-model="userdata.upline_path" class="form-control">
          </div>
        </div>
      </fieldset>

      <br>

      <fieldset>
        <legend>Bank Account Details</legend>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.bank_name.$error }">
          <div class="col-sm-3 text-right">
            <label for="">Bank Name: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.bank_name.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.bank_name.required">Bank name is required</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3 text-right" :class="{ 'form-group--error': $v.userdata.account_number.$error }">
            <label for="">Account Number: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.account_number.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.account_number.required">Account number is required</div>
            <div class="error" v-if="!$v.userdata.account_number.numeric">Account number must be number</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.beneficiary_name.$error}">
          <div class="col-sm-3 text-right">
            <label for="">beneficiary Name: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.beneficiary_name.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.beneficiary_name.required">beneficiary name is required</div>
            <div class="error" v-if="!$v.userdata.beneficiary_name.minLength">Please enter at least 4 character</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.beneficiary_email.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Beneficiary Email: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.beneficiary_email.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.beneficiary_email.required">beneficiary email is required</div>
            <div class="error" v-if="!$v.userdata.beneficiary_email.email">Please enter correct email</div>
          </div>
        </div>

        <div class="form-group row" :class="{ 'form-group--error': $v.userdata.beneficiary_phone.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Contact Number: </label>
          </div>
          <div class="col-sm-9">
            <input type="text" v-model="$v.userdata.beneficiary_phone.$model" class="form-control">
            <div class="error" v-if="!$v.userdata.beneficiary_phone.required">beneficiary phone is required</div>
            <div class="error" v-if="!$v.userdata.beneficiary_phone.numeric">Phone must be number</div>
            <div class="error" v-if="!$v.userdata.beneficiary_phone.minLength">Please enter at least 10 number</div>
          </div>
        </div>
      </fieldset>

      <div class="button-group w-100 pb-5">
        <button type="submit" class="btn btn-info float-right">Update</button>
      </div>

    </form>
  </div>
</template>

<script>
import {
  required,
  email,
  minLength,
  numeric,
  helpers
} from "vuelidate/lib/validators";

const icnum = helpers.regex("icnum", /[0-9]{6}-?[0-9]{2}-?[0-9]{4}$/g);

export default {
  data() {
    return {
      userdata: {
        name: "",
        email: "",
        phone_number: "",
        id_passport: "",
        nationality: "",
        package_id: "",
        upline_path: "",
        package_name: "",
        bank_name: "",
        account_number: "",
        beneficiary_name: "",
        beneficiary_email: "",
        beneficiary_phone: ""
      }
    };
  },
  validations: {
    userdata: {
      email: {
        required,
        email
      },
      id_passport: {
        required,
        icnum
      },
      name: {
        required,
        minLength: minLength(4)
      },
      phone_number: {
        required,
        minLength: minLength(10),
        numeric
      },
      nationality: {
        required
      },
      bank_name: {
        required,
        minLength: minLength(4)
      },
      account_number: {
        required,
        numeric
      },
      beneficiary_name: {
        required
      },
      beneficiary_email: {
        required,
        email
      },
      beneficiary_phone: {
        required,
        minLength: minLength(10),
        numeric
      }
    }
  },
  methods: {
    getDistributor() {
      axios
        .get("/api/distributor/get-distributor", { params: { id: 1 } })
        .then(({ data }) => {
          this.userdata = data.data;
        });
    },
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        toastr["success"]("successfull submit 😘");
        //insert data to db
        return;
      }
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      return;
    }
  },
  created() {
    this.getDistributor();
  },
  computed: {
    countries() {
      return country;
    }
  }
};
</script>

<style scoped>
@media (min-width: 1281px) {
  form {
    width: 70%;
  }
}

fieldset {
  border: 1px groove #eee !important;
  padding: 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px 0px #ddd;
}

legend {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
</style>
