<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">My Wallet</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">My Wallet</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row point-container">
              <!-- Wallet points -->
              <template v-if="wallets != null">
                <div class="col-md-4" v-for="(wallet, index) in wallets" :key="index">
                  <router-link v-bind:to="routeName(wallet.name)">
                    <div class="row pv">
                      <div class="col">
                        <i v-bind:class="'fa ' + setClass(wallet.name)"></i>
                      </div>
                      <div class="col">
                        <h4>{{wallet.name}}</h4>
                        <span>{{wallet.amount}}</span>
                      </div>
                    </div>
                  </router-link>
                </div>
              </template>
            </div>

            <history-log tabletype="all"></history-log>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import historyLog from "./components/walletHistoryTable";

export default {
  data() {
    return {
      wallets: null
    };
  },
  components: {
    historyLog
  },
  methods: {
    getWallet() {
      axios
        .post("/api/distributor/wallet", {
          user_id: 2
        })
        .then(({ data }) => {
          this.$store.dispatch("setWalletsData", data);
          this.wallets = this.$store.getters.getWalletsData;
        })
        .catch(err => console.log(err));
    },
    setClass(name) {
      if (name == "PV Points") {
        return "fa-heart";
      } else if (name == "e Cash") {
        return "fa-money";
      } else {
        return "fa-gift";
      }
    },
    routeName(name) {
      if (name == "PV Points") {
        return "/pvpoints";
      } else if (name == "e Cash") {
        return "/ecash";
      } else {
        return "/rewardspoints";
      }
    }
  },
  computed: {
    user() {
      return this.$store.getters.getUserData;
    }
  },
  mounted() {
    this.getWallet();
  }
};
</script>

<style scoped>
i {
  font-size: 80px;
}

.pv,
.ec,
.rp {
  padding: 15px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pv:hover,
.ec:hover,
.rp:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pv span,
.ec span,
.rp span {
  font-weight: bold;
  font-size: 25px;
}

i.fa-heart {
  color: crimson;
}

i.fa-money {
  color: green;
}

i.fa-gift {
  color: palevioletred;
}

.point-container {
  padding: 20px 20px;
}

.historylog-container {
  padding: 15px 45px;
}
</style>