<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Edit Distributor</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">
            <router-link to="/pending-distributor">Pending Distributor</router-link>
          </li>
          <li class="breadcrumb-item active">Edit Distributor</li>
        </ol>
      </div>
    </div>

    <form class="px-3" @submit.prevent="submit">
      <fieldset>
        <legend>Personal Details</legend>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.fullname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Distributor ID: </label>
          </div>
          <div class="col-sm-9">
            <input disabled v-model="distributor_id" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.fullname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Full Name: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.fullname.$model" type="text" class="form-control">
            <div v-if="!$v.personaldetails.fullname.required" class="error">Full Name is required</div>
            <div v-if="!$v.personaldetails.fullname.minLength" class="error">Please enter at least 6 character</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.email.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Email: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.email.$model" type="email" class="form-control">
            <div v-if="!$v.personaldetails.email.required" class="error">Email is required</div>
            <div v-if="!$v.personaldetails.email.email" class="error">Please enter correct email</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.contact.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Contact Number: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.contact.$model" type="text" class="form-control">
            <div v-if="!$v.personaldetails.contact.required" class="error">Contact Number is required</div>
            <div v-if="!$v.personaldetails.contact.numeric" class="error">Contact Number must be number</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.icnum.$error}">
          <div class="col-sm-3 text-right">
            <label for="">IC Number / Passport: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.personaldetails.icnum.$model" type="text" class="form-control">
            <div v-if="!$v.personaldetails.icnum.required" class="error">IC/Passport Number is required</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error' : $v.personaldetails.nationality.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Nationality: </label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" v-model="$v.personaldetails.nationality.$model">
              <option v-for="(country, index) in countries" :key="index">{{country}}</option>
            </select>
            <div v-if="!$v.personaldetails.nationality.required" class="error">Email is required</div>
          </div>
        </div>
      </fieldset>

      <br>

      <fieldset>
        <legend>Package Details</legend>

        <div class="form-group row" :class="{'form-group--error': $v.packdetails.package.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Package: </label>
          </div>
          <div class="col-sm-9">
            <select v-model="$v.packdetails.package.$model" class="form-control">
              <option value="1">Gold</option>
              <option value="2">Silver</option>
              <option value="3">Platinum</option>
            </select>
            <div v-if="!$v.packdetails.package.required" class="error">This field is required</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error': $v.packdetails.directupline.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Direct Upline: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.packdetails.directupline.$model" type="text" class="form-control">
            <div v-if="!$v.packdetails.directupline.required" class="error">This field is required</div>
            <div v-if="!$v.packdetails.directupline.alpha" class="error">Please enter correct upline id</div>
          </div>
        </div>

      </fieldset>

      <br>

      <fieldset>
        <legend>Bank Account Details</legend>

        <div class="form-group row" :class="{'form-group--error': $v.bankdetails.bankname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Bank Name: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.bankname.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.bankname.required" class="error">Bank Name is required</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.accnumber.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Account Number: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.accnumber.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.accnumber.required" class="error">Account Number is required</div>
            <div v-if="!$v.bankdetails.accnumber.numeric" class="error">Account number must be numeric</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.beneficiaryname.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Benificiary Name: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.beneficiaryname.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.accnumber.required" class="error">Name is required</div>
            <div v-if="!$v.bankdetails.accnumber.minLength" class="error">Please enter at least 6 character</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.email.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Email: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.email.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.email.required" class="error">Email is required</div>
            <div v-if="!$v.bankdetails.email.email" class="error">Please enter a correct email</div>
          </div>
        </div>

        <div class="form-group row" :class="{'form-group--error':$v.bankdetails.contact.$error}">
          <div class="col-sm-3 text-right">
            <label for="">Contact Number: </label>
          </div>
          <div class="col-sm-9">
            <input v-model="$v.bankdetails.contact.$model" type="text" class="form-control">
            <div v-if="!$v.bankdetails.contact.required" class="error">Contact field is required</div>
          </div>
        </div>

      </fieldset>

      <fieldset>
        <legend>Status</legend>

        <div class="form-group row">
          <div class="col-sm-3 text-right">
            <label for="">Status: </label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" v-model="status">
              <option value="pending">Pending</option>
              <option value="activated">Approve</option>
            </select>
          </div>
        </div>
      </fieldset>

      <div class="button-group w-100 pb-5">
        <input class="btn btn-info float-right" type="submit" value="Save">
        <router-link class="btn btn-default float-right" to="/pending-distributor">Cancel</router-link>
      </div>
    </form>

  </div>
</template>

<script>
import addValidation from "../../distributor/mixins/addValidation";

export default {
  data() {
    return {
      id: "",
      personaldetails: {
        fullname: "",
        email: "",
        contact: "",
        icnum: "",
        nationality: ""
      },
      packdetails: {
        package: "1",
        directupline: ""
      },
      bankdetails: {
        bankname: "",
        accnumber: "",
        beneficiaryname: "",
        email: "",
        contact: ""
      },
      status: "pending",
      distributor: null,
      uplinePath: ""
    };
  },
  validations: addValidation,
  methods: {
    getDistributor() {
      axios
        .get("/api/distributor/get-distributor", {
          params: { did: this.distributor_id }
        })
        .then(({ data: { data } }) => {
          this.personaldetails.fullname = data.name;
          this.personaldetails.email = data.email;
          this.personaldetails.contact = data.phone_number;
          this.personaldetails.icnum = data.id_passport;
          this.personaldetails.nationality = data.nationality;
          this.packdetails.directupline = data.upline_distributor_id;
          this.packdetails.package = data.package_id;
          this.bankdetails.bankname = data.bank_name;
          this.bankdetails.accnumber = data.account_number;
          this.bankdetails.beneficiaryname = data.beneficiary_name;
          this.bankdetails.email = data.beneficiary_email;
          this.bankdetails.contact = data.beneficiary_phone;
          this.uplinePath = data.upline_path;
        });
    },
    submit() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        toastr["error"]("Please correct all the fields");
        return;
      }

      this.updateDistributor().then(({ data }) => {
        if (!data.success) {
          toastr["error"](data.errors);
          return;
        }
        toastr["success"](data.message);
        this.$router.push("/pending-distributor");
      });
    },
    updateDistributor() {
      return axios.post("/api/admin/update-distributor", {
        personalDetails: {
          name: this.personaldetails.fullname,
          email: this.personaldetails.email,
          contact: this.personaldetails.contact,
          icnum: this.personaldetails.icnum,
          nationality: this.personaldetails.nationality,
          distributor_id: this.distributor_id
        },
        packageDetails: {
          package: this.packdetails.package,
          directupline: this.packdetails.directupline
        },
        bankDetails: {
          bankname: this.bankdetails.bankname,
          accnum: this.bankdetails.accnumber,
          beneficiaryname: this.bankdetails.beneficiaryname,
          email: this.bankdetails.email,
          contact: this.bankdetails.contact
        },
        path: this.uplinePath,
        status: this.status
      });
    }
  },
  mounted() {
    this.getDistributor();
  },
  computed: {
    distributor_id() {
      return this.$route.params.id;
    },
    countries() {
      return country;
    }
  }
};
</script>

<style>
fieldset {
  border: 1px groove #eee !important;
  padding: 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px 0px #ddd;
}

legend {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
</style>
