<template>
	<footer class="footer">
        Powered by <a href="http://tinnolab.com" target="_blank">TinnoLab</a>
    </footer>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>