<template>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <router-link to="/home" exact><i class="fa fa-home"></i> <span class="hide-menu">Dashboard</span></router-link>
                    </li>
                    <li v-if="adminRoute">
                        <router-link to="/user" exact><i class="fa fa-users"></i> <span class="hide-menu">User</span></router-link>
                    </li>
                    <li v-if="adminRoute">
                        <a class="drop"><i class="fa fa-check-square"></i> <span class="hide-menu">Pending Approval</span> <i class="float-right fa fa-angle-down"></i></a>
                        <ul class="submenu p-0">
                            <li>
                                <router-link class="pl-5" to="/pending-distributor"><span class="hide-menu">Pending Distributors</span></router-link>
                            </li>
                            <!-- <li>
                                <router-link class="pl-5" to="/pending-withdrawal"><span class="hide-menu">Pending Withdrawal</span></router-link>
                            </li>
                            <li>
                                <router-link class="pl-5" to="/pending-transfer"><span class="hide-menu">Pending Transfer</span></router-link>
                            </li> -->
                        </ul>
                    </li>
                    <li v-if="adminRoute">
                        <a class="drop"><i class="fa fa-usd"></i> <span class="hide-menu">Withrawal</span> <i class="float-right fa fa-angle-down"></i></a>
                        <ul class="submenu p-0">
                            <li>
                                <router-link class="pl-5" to="/withdrawal-request"><span class="hide-menu">Withdrawal Request</span></router-link>
                            </li>
                            <li>
                                <router-link class="pl-5" to="/withdrawal-add"><span class="hide-menu">Add New Withdrawal</span></router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="adminRoute">
                        <a class="drop"><i class="fa fa-exchange"></i> <span class="hide-menu">Transfer</span> <i class="float-right fa fa-angle-down"></i></a>
                        <ul class="submenu p-0">
                            <li>
                                <router-link class="pl-5" to="/transfer-request"><span class="hide-menu">Transfer Request</span></router-link>
                            </li>
                            <li>
                                <router-link class="pl-5" to="/transfer-add"><span class="hide-menu">Add New Transfer</span></router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="adminRoute">
                        <a class="drop"><i class="fa fa-bell"></i> <span class="hide-menu">Announcement</span> <i class="float-right fa fa-angle-down"></i></a>
                        <ul class="submenu p-0">
                            <li>
                                <router-link class="pl-5" to="/announcement"><span class="hide-menu">Announcement List</span></router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="distributorRoute">
                        <a class="drop" style="color:#54667a"><i style="color:#a6b7bf" class="fa fa-credit-card"></i> <span class="hide-menu">Wallets</span> <i class="float-right fa fa-angle-down"></i></a>
                        <ul class="submenu p-0">
                            <li>
                                <router-link class="pl-5" to="/wallet"><span class="hide-menu">My Wallets</span></router-link>
                            </li>
                            <li>
                                <router-link class="pl-5" to="/withdraw"><span class="hide-menu">My Withdrawal</span></router-link>
                            </li>
                            <li>
                                <router-link class="pl-5" to="/transfer"><span class="hide-menu">My Transfer</span></router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="distributorRoute || adminRoute">
                        <a class="drop" style="color:#54667a"><i style="color:#a6b7bf" class="fa fa-group"></i> <span class="hide-menu">Distributor</span> <i class="float-right fa fa-angle-down"></i></a>
                        <ul class="submenu p-0">
                            <li v-if="adminRoute">
                                <router-link class="pl-5" to="/distributor"><span class="hide-menu">Distributor List</span></router-link>
                            </li>
                            <li v-if="distributorRoute || adminRoute">
                                <router-link class="pl-5" to="/distributor-add"><span class="hide-menu">Add New Distributor</span></router-link>
                            </li>
                            <li v-if="distributorRoute">
                                <router-link class="pl-5" to="/distributor-profile"><span class="hide-menu">My Distributor Profile</span></router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="distributorRoute">
                        <router-link to="/genealogy" exact><i class="fa fa-tree"></i> <span class="hide-menu">Genealogy</span></router-link>
                    </li>

                    <li>
                        <router-link to="/account" exact><i class="fa fa-user"></i> <span class="hide-menu">My Account</span></router-link>
                    </li>
                    <li>
                        <a href="#" @click.prevent="logout"><i class="fa fa-power-off"></i> <span class="hide-menu">Logout</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-footer">
            <router-link to="/configuration" class="link" data-toggle="tooltip" title="Configuration"><i class="fa fa-cogs"></i></router-link>
            <router-link to="/account" class="link" data-toggle="tooltip" title="Profile"><i class="fa fa-user"></i></router-link>
            <a href="#" class="link" data-toggle="tooltip" title="Logout" @click.prevent="logout"><i class="fa fa-power-off"></i></a>
        </div>
    </aside>
</template>

<script>
import helper from "../services/helper";

export default {
  mounted() {
    //save menu on refresh
    $(".sidebar-nav ul li a.active")
      .parent()
      .parent()
      .addClass("show");
    //dropdown menu
    if ($(".drop").length == 0) {
      setTimeout(function() {
        $(".drop").click(function() {
          $(this)
            .next()
            .toggleClass("show");
        });
      }, 1300);
    } else {
      $(".drop").click(function() {
        $(this)
          .next()
          .toggleClass("show");
      });
    }
  },
  methods: {
    logout() {
      helper.logout().then(() => {
        this.$store.dispatch("resetAuthUserDetail");
        this.$router.replace("/login");
      });
    },
    getAuthUserFullName() {
      return this.$store.getters.getAuthUserFullName;
    },
    getAuthUser(name) {
      return this.$store.getters.getAuthUser(name);
    }
  },
  computed: {
    getAvatar() {
      return "/images/users/" + this.getAuthUser("avatar");
    },
    user() {
      return this.$store.getters.getUserData;
    },
    role() {
      return this.user.role;
    },
    adminRoute() {
      if (this.role == "Admin") {
        return true;
      }
      return false;
    },
    distributorRoute() {
      if (this.role == "Distributor") {
        return true;
      }
      return false;
    }
  }
};
</script>
<style>
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.submenu.show {
  height: auto !important;
  max-height: 500px !important;
  overflow: visible;
}

#sidebarnav li {
  border-top: solid 1px #f1f1f1;
}

#sidebarnav li ul li {
  border: none;
}

.sidebar-nav ul li a {
  padding-right: 5px;
}
</style>


