<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Add New Withdraw</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Add New Withdrawal</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card  formtable-card">
          <div class="card-body">
            <table class="table formtable p-2">
              <tbody>
                <tr :class="{'form-group--error':$v.distributor.$error}">
                  <td class="text-right"><label>Distributor:</label></td>
                  <td>
                    <input type="text" v-model="$v.distributor.$model" class="form-control w-80">
                    <div class="error" v-if="!$v.distributor.required">Distributor ID is required!</div>
                    <div class="error" v-if="!$v.distributor.alpha">Please enter correct Distributor ID!</div>
                  </td>
                </tr>
                <tr>
                  <td class="text-right"><label>Wallet:</label></td>
                  <td>
                    <select v-model="wallet" class="form-control w-50">
                      <option value="pvpoint">PV Point</option>
                      <option value="rewardspoints">Rewards Point</option>
                      <option value="ecash">E-Cash</option>
                    </select>
                  </td>
                </tr>
                <tr :class="{'form-group--error':$v.amount.$error}">
                  <td class="text-right"><label>Amount:</label></td>
                  <td>
                    <input type="text" v-model="$v.amount.$model" class="form-control w-50">
                    <div class="error" v-if="!$v.amount.required">Amount is required!</div>
                    <div class="error" v-if="!$v.amount.numeric">Please enter only a number!</div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td><button type="submit" @click.prevent="submit" class="w-50 btn btn-info">Submit</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, helpers, numeric } from "vuelidate/lib/validators/";

const alpha = helpers.regex("alpha", /^D[A-Za-z0-9]{3}$/g);

export default {
  data() {
    return {
      wallet: "pvpoint",
      distributor: null,
      amount: 0,
      loading: false
    };
  },
  validations: {
    wallet: {
      required
    },
    distributor: {
      required,
      alpha
    },
    amount: {
      required,
      numeric
    }
  },
  methods: {
    confirm(postData) {
      this.$confirm("Are you sure you want to withdraw?", {
        confirmButtonText: "Withdraw",
        cancelButtonText: "Cancel",
        type: "warning"
      })
        .then(() => {
          axios
            .post("/api/distributor/withdraw-request", postData)
            .then(({ data }) => {
              if (data.success) {
                toastr["success"]("Withdraw succeeded");
                this.loading = false;
                this.$router.push("/withdrawal-request");
              } else {
                if (data.errors.amount != undefined) {
                  _.map(data.errors.amount, error => {
                    toastr["error"](error);
                  });
                }

                this.loading = false;
              }
            });
        })
        .catch(() => {
          this.loading = false;
          this.$message({
            type: "info",
            message: "Withdraw canceled"
          });
        });
    },
    submit() {
      this.$v.$touch();

      if (this.amount == 0) {
        toastr["error"]("Please enter some amount to withdraw");
        return;
      }

      if (this.$v.$invalid) {
        toastr["error"]("Please correct the required fields");
        return;
      }

      this.loading = true;
      // do your submit logic here
      let postData = {
        type: this.wallet,
        amount: this.amount,
        distributorID: this.distributor
      };

      this.confirm(postData);
    }
  }
};
</script>

<style scoped>
.w-80 {
  max-width: 80%;
}
.formtable-card {
  max-width: 600px;
}
</style>


