<template>
  <div class="withdraw-request">
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Withdrawal Request</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Withdrawal Request</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card bordered">
          <div class="card-body">
            <h3>Search</h3>
            <table class="table">
              <tbody>
                <tr>
                  <td><label>Date: </label></td>
                  <td colspan="2">
                    <datepicker :clear-button="true" v-model="filters.date" @input="filterResults" :format="dateFormatter" style="width:80%" input-class="form-control"></datepicker>
                  </td>
                  <td><label>Distributor: </label></td>
                  <td colspan="2"><input v-model="filters.distributor_id" @input="filterResults" class="form-control" type="text"></td>
                </tr>
                <tr>
                  <td><label>Amount: </label></td>
                  <td colspan="2"><input v-model="filters.amount" @input="filterResults" style="width:80%" class="form-control" type="email"></td>
                  <td><label>Status: </label></td>
                  <td><select @change="filterResults" class="form-control" v-model="filters.status">
                      <option value="all">All</option>
                      <option value="pending">Pending</option>
                      <option value="processing">Processing</option>
                      <option value="approved">Approved</option>
                    </select></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="float-right mb-3">
                  <td colspan="6">
                    <router-link class="btn btn-gray" to="/withdrawal-add" :disabled="loading">Add New Withdraw</router-link>
                  </td>
                </div>
                <table v-if="withdrawals.length > 0" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="gray"><input type="checkbox" v-model="checkAll"></th>
                      <th @click="sort('created_at')" class="gray">Date <i :class="currentSortDir == 'asc' && currentSort == 'created_at' ? 'fa fa-arrow-up float-right' : 'fa fa-arrow-down float-right'"></i></th>
                      <th class=" lightgray">Wallet</th>
                      <th class="gray">Distributor</th>
                      <th @click="sort('amount')" class="lightgray">Amount <i :class="currentSortDir == 'asc' && currentSort == 'amount' ? 'fa fa-arrow-up float-right' : 'fa fa-arrow-down float-right'"></i></th>
                      <th class="gray">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(withdraw,index) in sortedData" :key="index">
                      <td><input type="checkbox" :value="withdraw" v-model="checked"></td>
                      <td>{{withdraw.created_at.split(' ')[0]}}</td>
                      <td>{{withdraw.distributor_wallet_name}}</td>
                      <td>{{withdraw.distributor_id}}</td>
                      <td>{{withdraw.amount}}</td>
                      <td style="text-transform:capitalize">{{withdraw.status}}</td>
                    </tr>
                    <tr style="background: #fff;">
                      <td colspan="6" class="button-group pt-3">
                        <div class="float-left">
                          <button :disabled="loading" type="button" data-toggle="tooltip" title="Done" class="btn btn-success float-right" @click.prevent="actionAll('done')"> <i class="fa fa-check-circle"></i></button>
                          <button :disabled="loading" type="button" data-toggle="tooltip" title="Processing" class="btn btn-info float-right" @click.prevent="actionAll('processing')"> <i class="fa fa-spinner"></i></button>
                          <button :disabled="loading" type="button" data-toggle="tooltip" title="Reject" class="btn btn-danger float-right" @click.prevent="actionAll('reject')"> <i class="fa fa-thumbs-down"></i></button>
                          <button :disabled="loading" type="button" data-toggle="tooltip" title="Approve" class="btn btn-primary float-right" @click.prevent="actionAll('approve')"> <i class="fa fa-thumbs-up"></i></button>
                        </div>
                        <div v-if="pagination.items != pagination.total" class="button-group float-right">
                          <button class="btn btn-primary" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url || loading">Prev</button>
                          <button class="btn btn-primary" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url || loading">Next</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div v-if="withdrawals.length == 0">No records found 😔</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { required } from "vuelidate/lib/validators/";

export default {
  data() {
    return {
      withdrawals: [],
      url: "/api/admin/get-all-withdraw/",
      pagination: [],
      loading: false,
      checked: [],
      currentSort: "created_at",
      currentSortDir: "desc",
      filters: {
        amount: "",
        date: null,
        distributor_id: "",
        status: "all"
      }
    };
  },
  mounted() {
    this.getAllWithdrawal({ params: { status: "all" } });
  },
  methods: {
    getAllWithdrawal(params) {
      axios
        .get(this.url, params)
        .then(({ data: { data: withdrawals, success }, data }) => {
          if (!success) {
            this.withdrawals = [];
            return;
          }
          this.withdrawals = withdrawals.data;
          this.makePagination(withdrawals);
        });
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        items: this.withdrawals.length,
        total: data.total
      };

      this.pagination = pagination;
    },
    fetchPagination(url) {
      this.url = url;
      this.getAllWithdrawal({ params: { status: "all" } });
    },
    filterResults() {
      this.getAllWithdrawal({
        params: {
          status: this.filters.status,
          byAmount: this.filters.amount,
          byDate:
            this.filters.date == null
              ? ""
              : moment(this.filters.date).format("YYYY-MM-DD"),
          byDistributor_id: this.filters.distributor_id
        }
      });
    },
    dateFormatter(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    sort(option) {
      if (option === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = option;
    },
    actionAll(status) {
      let url, path;
      this.loading = true;

      if (this.checked.length == 0) {
        toastr["error"]("You not select anything");
        this.loading = false;
        return;
      }

      switch (status) {
        case "approve":
          this.checked.forEach(check => {
            if (check.status == "approved") {
              toastr["error"](
                check.created_at.split(" ")[0] +
                  " request are already approved!"
              );
              this.loading = false;
            }
          });
          path = "/withdrawal-request/list/approve";
          break;
        case "reject":
          this.checked.forEach(check => {
            if (check.status == "rejected") {
              toastr["error"](
                check.created_at.split(" ")[0] +
                  " request are already rejected!"
              );
              this.loading = false;
            }
            if (check.status == "approved") {
              toastr["error"](
                check.created_at.split(" ")[0] +
                  " request are already approved!"
              );
              this.loading = false;
            }
          });
          path = "/withdrawal-request/list/reject";
          break;
        case "done":
          this.checked.forEach(check => {
            if (check.status == "rejected") {
              toastr["error"](
                check.created_at.split(" ")[0] + " request are rejected!"
              );
              this.loading = false;
            }
            if (check.status == "pending" && check.status == "processing") {
              toastr["error"](
                check.created_at.split(" ")[0] +
                  " This request need to be approve first!"
              );
              this.loading = false;
            }
          });
          path = "/withdrawal-request/list/done";
          break;
        default:
          this.checked.forEach(check => {
            if (check.status == "processing") {
              toastr["error"](
                check.created_at.split(" ")[0] + " request are already process!"
              );
              this.loading = false;
            }
            if (check.status == "rejected") {
              toastr["error"](
                check.created_at.split(" ")[0] +
                  " request are already rejected!"
              );
              this.loading = false;
            }
            if (check.status == "approved") {
              toastr["error"](
                check.created_at.split(" ")[0] +
                  " request are already approved!"
              );
              this.loading = false;
            }
          });
          path = "/withdrawal-request/list/process";
      }

      if (this.loading) {
        this.$router.push({
          path,
          query: { data: this.checked }
        });
      }
    }
  },
  computed: {
    checkAll: {
      get: function() {
        return this.withdrawals
          ? this.checked.length == this.withdrawals.length
          : false;
      },
      set: function(value) {
        let checked = [];
        if (value) {
          this.withdrawals.forEach(withdraw => {
            checked.push(withdraw);
          });
        }
        this.checked = checked;
      }
    },
    sortedData() {
      return this.withdrawals.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      });
    }
  },
  components: {
    Datepicker
  }
};
</script>

<style scoped>
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}

​ thead td {
  text-transform: capitalize;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  z-index: 9999;
  color: white;
}
</style>

