<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card  p-3">
        <div class="card-body">
          <table class="table table-stripe">
            <thead>
              <tr>
                <th class="gray">ID</th>
                <th class="lightgray">Name</th>
                <th class="gray">Email</th>
                <th class="lightgray">Distributor Upline</th>
                <th class="gray">Status</th>
                <th class="lightgray">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(distributor,index) in distributors" :key="index">
                <td>{{distributor.distributor_id}}</td>
                <td>{{distributor.name}}</td>
                <td>{{distributor.email}}</td>
                <td>{{distributor.upline_distributor_id}}</td>
                <td>{{distributor.status}}</td>
                <td>
                  <div class="button-group float-right">
                    <button v-if="distributor.status == 'pending'" class="btn btn-info" @click="approve(distributor.distributor_id)">Approve</button>
                    <button v-if="distributor.status == 'pending'" class="btn btn-secondary" @click="reject(distributor.distributor_id)">Reject</button>
                    <button v-if="distributor.status == 'activated'" class="btn btn-warning" @click="ban(distributor.distributor_id)">Ban</button>
                    <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remove user" @click="remove(distributor.distributor_id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div v-if="pagination.per_page != pagination.total" class="pagination btn-group float-right">
            <button class="btn btn-primary" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Prev</button>
            <button class="btn btn-primary" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["distributors"]
};
</script>

<style>
</style>
