<template>
  <div class="row historylog-container">
    <h2>History Log</h2>
    <table v-if="tableData.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th class="lightgray" @click="sort('created_at')">Date <i :class="currentSortDir == 'asc' ? 'fa fa-arrow-up float-right' : 'fa fa-arrow-down float-right'"></i></th>
          <th class="gray">From <br> Distributor</th>
          <th class="gray">Wallet</th>
          <th class="gray">Amount (RM)</th>
          <th class="lightgray">To <br> Distributor</th>
          <th class="lightgray">Wallet</th>
          <th class="lightgray">Amount (RM)</th>
          <th class="gray">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in sortedData" :key="index">
          <td>{{data.created_at.split(' ')[0]}}</td>
          <td>{{data.distributor_id_source}}</td>
          <td>{{data.distributor_wallet_name_source}}</td>
          <td>{{data.amount_source}}</td>
          <td>{{data.distributor_id_destination}}</td>
          <td>{{data.distributor_wallet_name_destination}}</td>
          <td>{{data.amount_source}}</td>
          <td>{{data.status}}</td>
        </tr>
      </tbody>
    </table>
    <div class="col-sm-12 p-0" v-if="tableData.length == 0">
      <hr>
      <p>No Record Found 😔</p>
    </div>
    <div v-if="pagination.items != pagination.total" class="pagination btn-group ml-auto">
      <button class="btn btn-light" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Prev</button>
      <button class="btn btn-light" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url">Next</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "history-log",
  data() {
    return {
      tableData: [],
      walletId: null,
      tableReady: false,
      currentSort: "created_at",
      currentSortDir: "desc",
      pagination: {},
      url: "/api/distributor/transfer-history"
    };
  },
  created() {
    this.setWalletId();
  },
  mounted() {
    this.getTransferData({
      type: this.walletName,
      walletID: this.walletId,
      distributorID: this.distributorID
    });
  },
  methods: {
    getTransferData(params) {
      axios.post(this.url, params).then(({ data: { data, success } }) => {
        if (!success) {
          toastr["error"](data.errors);
          return;
        }
        this.tableData = data.data;
        this.makePagination(data);
      });
    },
    fetchPagination(url) {
      this.url = url;
      this.getTransferData({
        type: this.walletName,
        walletID: this.walletId,
        distributorID: this.distributorID
      });
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        items: this.tableData.length,
        total: data.total
      };

      this.pagination = pagination;
    },
    setWalletId() {
      _.map(this.$store.getters.getWalletsData, wallet => {
        if (wallet.name == this.walletName) {
          this.walletId = wallet.id;
        }
      });
    },
    sort(option) {
      if (option === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = option;
    }
  },
  computed: {
    walletName() {
      switch (this.$route.params.wallet) {
        case "pvpoint":
          return "PV Points";
          break;
        case "ecash":
          return "E Cash";
          break;
        case "rewardspoints":
          return "Rewards Points";
          break;
        default:
          return "all";
      }
      return this.$route.params.wallet;
    },
    distributorID() {
      return this.$store.getters.getUserData.distributor.distributor_id;
    },
    sortedData() {
      return this.tableData.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      });
    }
  },
  watch: {
    $route(to, from) {
      location.reload();
    },
    endpage(newVal, oldVal) {
      if (newVal > this.tableData.length) {
        this.disableNext = true;
      } else {
        this.disableNext = false;
      }
    },
    startpage(newVal) {
      if (newVal > 0) {
        this.disablePrev = false;
      } else {
        this.disablePrev = true;
      }
    }
  }
};
</script>

<style>
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}
</style>
