<template>
  <div class="col-sm-12">
    <form @submit.prevent="submit" class=" p-3">

    <div class="row">
      
      <div class="col-md-5">
        <h2>From</h2>
        <hr>
        <div class="form-group row">
          <div class="col-sm-3"><label for="">Distributor</label></div>
          <div class="col-sm-9">
            <input type="text" disabled="true" :value="userDistributor" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3"><label for="">Wallet</label></div>
          <div class="col-sm-9">
            <select v-model="walletFrom" class="form-control" :disabled="selectDisable || loading">
              <option value="" disabled hidden>Select Wallet</option>
              <option value="pvpoint">PV Points</option>
              <option value="ecash">E Cash</option>
              <option value="rewardspoints">Rewards Points</option>
            </select>
          </div>
        </div>

      </div>

      <div class="col-md-5 tf">
        <h2>To</h2>
        <hr>
        <div class="form-group row" :class="{ 'form-group--error': $v.distributor.$error }">
          <div class="col-sm-3"><label class="form__label" for="">Distributor</label></div>
          <div class="col-sm-9">
            <input type="text" :disabled="loading" :value="distributor" @input="setDistributor($event.target.value)" class="form-control form__input">
            <div class="error" v-if="!$v.distributor.required">Field is required</div>
            <div class="error" v-if="!$v.distributor.alpha">Please insert the correct Distributor ID</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3"><label for="">Wallet</label></div>
          <div class="col-sm-9">
            <select v-model="walletTo" class="form-control" :disabled="loading">
              <option value="" disabled hidden>Select Wallet</option>
              <option value="pvpoint">PV Points</option>
              <option value="ecash">E Cash</option>
              <option value="rewardspoints">Rewards Points</option>
            </select>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group row" :class="{ 'form-group--error': $v.amount.$error }">
          <div class="col-sm-3"><label class="form__label" for="">Amount</label></div>
          <div class="col-sm-9">
            <input type="text" :disabled="loading" :value="amount" @input="setAmount($event.target.value)" class="form-control form__input">
            <div class="error" v-if="!$v.amount.required">Field is required</div>
            <div class="error" v-if="!$v.amount.numeric">Please insert only numbers</div>
          </div>
        </div>
        <button class="btn btn-info" disabled="true" v-if="loading" type="submit">Submit <i class=" el-icon-loading" style="font-size:16px"></i></button>
        <button class="btn btn-info" v-if="!loading" type="submit">Submit</button>
      </div>
    </div>
  </form>
  </div>
</template>

<script>
  import { required, numeric, helpers } from 'vuelidate/lib/validators'

  const alpha = helpers.regex('alpha', /D[a-zA-Z0-9]{3}$/g)

  export default {
    data() {
      return {
        selectDisable: false,
        amount: 0,
        distributor: '',
        loading: false,
        walletTo: '',
        walletFrom: ''
      }
    },
    validations:{
      distributor: {
        required,
        alpha
      },
      amount: {
        required,
        numeric,
      }
    },
    methods:{

      setAmount(value) {
        this.amount = value
        this.$v.amount.$touch()
      },
      setDistributor(value) {
        this.distributor = value
        this.$v.distributor.$touch()
      },
      setWallet(){
        if(this.walletName){
          this.selectDisable = true
          this.walletFrom = this.walletName
        }
      },
      confirm(postData){
        this.$confirm('Are you sure you want to transfer?', {
          confirmButtonText: 'Transfer',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          axios.post('/api/distributor/transfer-request',postData)
          .then(({data}) => {
            if(data.success){
              toastr['success']('Transfer succeeded')
              this.loading = false
              location.reload()
            } else {
              if(data.errors.to_wallet != undefined){
                _.map(data.errors.to_wallet,(error) => {
                  toastr['error'](error)
                })
              }
              if(data.errors.to_distributor_id != undefined){
                _.map(data.errors.to_distributor_id,(error) => {
                  toastr['error'](error)
                })
              }
              if(data.errors != undefined){
                _.map(data.errors,(error) => {
                  toastr['error'](error)
                })
              }
              this.loading = false
            }
          })

        }).catch(() => {
          this.loading = false
          this.$message({
            type: 'info',
            message: 'Transfer canceled'
          });          
        });
      },

      submit(){
        this.$v.$touch()
        if (this.$v.$invalid) {
          
        } else {

          //if attempt to transfer to same account and ID
          if((this.userDistributor == this.distributor) && (this.walletTo == this.walletFrom)){
            toastr['error']('You can\'t transfer from your same Account!');
            return
          }
          
          this.loading = true

          let postData = {
            'from_distributor_id': this.userDistributor,
            'to_distributor_id' : this.distributor,
            'from_wallet': this.walletFrom,
            'to_wallet': this.walletTo,
            'amount': this.amount,
          }

          this.confirm(postData);
        }
      }
    },
    mounted(){
      this.setWallet()
    },
    computed: {
      walletName(){
        return this.$route.params.wallet;
      },
      userDistributor(){
        let distributorID = this.$store.getters.getUserData.distributor.distributor_id;
        let name = this.$store.getters.getUserData.distributor.name
        return distributorID + " " + name
      },
    }
  }
</script>
<style>
.form-group--error .form__input{
  border:1px solid crimson;
}

.form-group .error{
  display:none;
}

.form-group--error .error{
  display:block;
  color:red;
}

.tf{
  padding:0 15px;
  margin:auto;
}
</style>
