<template>
  <div class="row historylog-container">
    <h2>History Log</h2>
    <table v-if="historyLog.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th @click="sort('created_at')" class="gray">Date <i :class="currentSortDir == 'asc' ? 'fa fa-arrow-up float-right' : 'fa fa-arrow-down float-right'"></i></th>
          <th class="lightgray">Wallet</th>
          <th class="gray">Type</th>
          <th class="lightgray">Amount (RM)</th>
          <th class="gray">Description</th>
          <th class="lightgray">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="log in sortedData" :key="log.key">
          <td>{{log.created_at.split(" ")[0]}}</td>
          <td>{{log.distributor_wallet_name}}</td>
          <td>{{log.type}}</td>
          <td>{{log.amount}}</td>
          <td>{{log.description}}</td>
          <td style="text-transfor:capitalize">{{log.status}}</td>
        </tr>
      </tbody>
    </table>

    <div v-if="pagination.items != pagination.total" class="button-group w-100">
      <button class="btn btn-light float-right" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url">Next</button>
      <button class="btn btn-light float-right" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Prev</button>
    </div>

    <div class="col-sm-12 p-0" v-if="historyLog.length == 0">
      <hr>
      <p>No Record Found 😔</p>
    </div>
  </div>

</template>

<script>
export default {
  props: ["tabletype", "tablename"],
  data() {
    return {
      historyLog: [],
      pagination: {},
      url: "/api/distributor/transactionhistory",
      currentSort: "created_at",
      currentSortDir: "desc"
    };
  },
  mounted() {
    this.getHistoryLog({
      params: { wallet_id: this.tabletype }
    });
  },
  methods: {
    getHistoryLog(params) {
      axios
        .get(this.url, params)
        .then(({ data: { data, success } }) => {
          if (!success) {
            toastr["error"](data.errors);
            return;
          }
          this.historyLog = data.data;
          this.makePagination(data);
        })
        .catch(err => console.log(err));
    },
    fetchPagination(url) {
      this.url = url;
      this.getHistoryLog({
        params: { wallet_id: this.tabletype }
      });
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        items: this.historyLog.length,
        total: data.total
      };

      this.pagination = pagination;
    },
    sort(option) {
      if (option === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = option;
    }
  },
  computed: {
    sortedData() {
      return this.historyLog.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      });
    }
  }
};
</script>
<style>
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}
</style>

