<template>
  <div class="col-sm-12">
    <form @submit.prevent="submit" class=" p-3">
    <div class="form-group row" :class="{ 'form-group--error': $v.myWallet.$error }">
      <div class="col-sm-3"><label for="">Wallet</label></div>
      <div class="col-sm-9">
            <select v-model="myWallet" class="form-control" :disabled="disableSelect">
              <option value="" disabled hidden>Select Wallet</option>
              <option value="pvpoint">PV Points</option>
              <option value="ecash">E Cash</option>
              <option value="rewardspoints">Rewards Points</option>
            </select>
            <div class="error" v-if="!$v.myWallet.required">Field is required</div>
      </div>
    </div>

    <div class="form-group row" :class="{ 'form-group--error': $v.amount.$error }">
      <div class="col-sm-3"><label class="form__label" for="">Amount</label></div>
      <div class="col-sm-9">
        <input type="text" :value="amount" @input="setAmount($event.target.value)" class="form-control form__input">
        <div class="error" v-if="!$v.amount.required">Field is required</div>
        <div class="error" v-if="!$v.amount.numeric">Please insert only numbers</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 offset-sm-3">
        <button class="btn btn-info" disabled="true" v-if="loading" type="submit">Submit <i class=" el-icon-loading" style="font-size:16px"></i></button>
        <button class="btn btn-info" v-if="!loading" type="submit">Submit</button>
      </div>
    </div>
  </form>
  </div>
</template>

<script>
  import { required, numeric, between } from 'vuelidate/lib/validators'

  export default {
    data() {
      return {
        loading: false,
        amount: 0,
        myWallet: '',
        disableSelect: false
      }
    },
    validations:{
      amount: {
        required,
        numeric
      },
      myWallet: {
        required
      }
    },
    methods:{
      setAmount(value) {
        this.amount = value
        this.$v.amount.$touch()
      },
      setSelectStatus(){
        if(this.walletName != "all"){
          this.disableSelect = true
          this.myWallet = this.$route.params.wallet
        }
      },
      confirm(postData){
        this.$confirm('Are you sure you want to withdraw?', {
          confirmButtonText: 'Withdraw',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {          
          axios.post('/api/distributor/withdraw-request',postData)
          .then(({data}) => {
            if(data.success){
              toastr['success']('Withdraw succeeded')
              this.loading = false
            } else {
              
              if(data.errors.amount != undefined){
                _.map(data.errors.amount,(error) => {
                  toastr['error'](error)
                })
              }

              this.loading = false
            }
          })
        }).catch(() => {
          this.loading = false
          this.$message({
            type: 'info',
            message: 'Withdraw canceled'
          });          
        });
      },
      submit(){
        this.$v.$touch()
        if (!this.$v.$invalid) {
          if(this.amount == 0){
            toastr['error']('Please enter some amount to withdraw');
            return;
          }
          
          if(this.myWallet == ''){
            toastr['error']('Please select a wallet!');
            return;
          }

          this.loading = true
          // do your submit logic here
          let postData = {
            type : this.myWallet,
            amount : this.amount,
            distributorID: this.distributorID
          }

          this.confirm(postData)
        }
      }
    },
    mounted(){
      this.setSelectStatus()
    },
    watch:{
      $route (to, from){
        location.reload()
      }
    },
    computed: {
      walletName(){
      switch(this.$route.params.wallet){
        case 'pvpoint' : 
          return 'PV Points'
          break
        case 'ecash':
          return 'E Cash'
          break
        case 'rewardspoints' :
          return 'Rewards Points'
          break
        default :
          return 'all'
      }
      return this.$route.params.wallet;
    },
      distributorID(){
        return this.$store.getters.getUserData.distributor.distributor_id;
      },
    }
  }
</script>
<style>
.form-group--error .form__input{
  border:1px solid crimson;
}

.form-group .error{
  display:none;
}

.form-group--error .error{
  display:block;
  color:red;
}
</style>
