<template>
  <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Genealogy</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                    <li class="breadcrumb-item active">Genealogy</li>
                </ol>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="chart_div" ref="chart_div"></div>
          </div>
        </div>
  </div>
</template>

<script>
import {GoogleCharts} from 'google-charts';

export default {
  data(){
    return{
      chartData: null
    }
  },
  created(){
    this.setChartData()
  },
  mounted(){
      this.initChart(this.chartdata);
  },
  methods:{
    getDownline(path){
      return new Promise((res,rej) => {
        axios.get('/api/distributor/get-downline',{params : {distributor_id: this.userData.distributor_id ,path}})
        .then(({data : {data}}) => { 
          res(data)
        })
        .catch((err) => {
          rej(err)
        })
      })
    },
    initChart(chartData){
      GoogleCharts.load('current', {packages:["orgchart"],callback:() => {
        var data = new GoogleCharts.api.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');
        // For each orgchart box, provide the name, manager, and tooltip to show.
        data.addRows(chartData);
        // Create the chart.
        var chart = new GoogleCharts.api.visualization.OrgChart(this.$refs.chart_div);
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, {allowHtml:true, size:"large"});
      }})
    },
    setChartData(){
      this.chartData = [
        [{v:this.userData.distributor_id, f:`${this.userData.name}<div style="color:red; font-style:italic">You</div>`},
        this.userData.distributor_id, 'You'],
      ]

      let left = this.getDownline('Left')
      let right = this.getDownline('Right')

      Promise.all([left, right]).then((res) => {
        //after all promises is resolve
        res[0].concat(res[1]).map((downline) => {
          if(downline != undefined){
            this.chartData.push([
              {v:downline.distributor_id, f:downline.name}, downline.before_distributor_id, ''
            ])
          }
        })
        this.$store.dispatch('setChartData', this.chartData);
      })
    }
  },
  computed:{
    userData(){
      return this.$store.getters.getUserData.distributor
    },
    chartdata(){
      return this.$store.getters.getChartData
    }
  }
}
</script>

<style>
 #chart_div table {
      border-collapse: unset !important;
  }
</style>
