<template>
  <div>
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">My Account</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item active">My Account</li>
            </ol>
        </div>
  </div>
        <form @submit.prevent="submit" class="card p-5">
          <div class="form-group row" :class="{ 'form-group--error': $v.email.$error }">
            <div class="col-sm-3">
              <label>Email :</label>
            </div>
            <div class="col-sm-9">
              <input disabled v-model="$v.email.$model" type="email" class="form-control">
              <div v-if="!$v.email.required" class="error">Email is required</div>
              <div v-if="!$v.email.email" class="error">Please enter correct email</div>
            </div>
          </div>
          <div class="form-group row" :class="{ 'form-group--error': $v.currentPass.$error }">
            <div class="col-sm-3">
              <label>Current Password: </label>
            </div>
            <div class="col-sm-9">
              <input v-model="$v.currentPass.$model" type="password" class="form-control">
              <div v-if="!$v.currentPass.required" class="error">Current Password is required</div>
              <div v-if="!$v.currentPass.minLength" class="error">Please enter at least 6 character</div>
              <div v-if="!$v.currentPass.match" class="error">Password does not match with server</div>
            </div>
          </div>
          <div class="form-group row" :class="{ 'form-group--error': $v.newPass.$error }">
            <div class="col-sm-3">
              <label>New Password: </label>
            </div>
            <div class="col-sm-9">
              <input v-model="$v.newPass.$model" type="password" class="form-control">
              <div v-if="!$v.newPass.required" class="error">Current Password is required</div>
              <div v-if="!$v.newPass.minLength" class="error">Please enter at least 6 character</div>
            </div>
          </div>
          <div class="form-group row" :class="{ 'form-group--error': $v.confirmPass.$error }">
            <div class="col-sm-3">
              <label>Confirm New Password: </label>
            </div>
            <div class="col-sm-9">
              <input v-model="$v.confirmPass.$model" type="password" class="form-control">
              <div v-if="!$v.confirmPass.required" class="error">Current Password is required</div>
              <div v-if="!$v.confirmPass.minLength" class="error">Please enter at least 6 character</div>
              <div v-if="!$v.confirmPass.sameAs" class="error">Password does not match</div>
            </div>
          </div>

          <div class="btn-group d-block">
            <input class="btn btn-info float-right" type="submit" value="Save Changes">
          </div>
        </form>
    </div>
  </div>
</template>

<script>
import { required,email,minLength,sameAs } from 'vuelidate/lib/validators'

export default {
  data(){
    return {
      id: '',
      email: '',
      currentPass: '', 
      newPass: '', 
      confirmPass: '', 
    }
  },
  validations: {
    email: {
      required,
      email
    },
    currentPass: {
      required,
      minLength: minLength(6),
      async match(value){
        if(value == '') return true
        let res = await axios.post('/api/auth/myaccount',{
          id:this.id,
          currentpass: value
        })

        return res.data.success;
      }
    },
    newPass: {
      required,
      minLength: minLength(6)
    },
    confirmPass: {
      required,
      minLength: minLength(6),
      sameAs :sameAs('newPass')
    },
  },
  methods:{
    submit(){
      if(this.$v.$invalid){
        toastr['error']('Please fill or correct all the fields')
        return
      }

      axios.post('/api/auth/myaccount',{
          id:this.id,
          newpass: this.newPass
      })
      .then(({data}) => {
          if(data.success){
            toastr['success']('Updated!')
            this.currentPass = ''
            this.newPass = ''
            this.confirmPass = ''
            this.$v.$reset()
          }
          else{
            toastr['error'](data.errors)
          }
      })
    }
  },
  computed:{
    userEmail(){
      return this.$store.getters.getAuthUser('email')
    },
    userId(){
      return this.$store.getters.getAuthUser('userId')
    }
  },
  mounted(){
    this.email = this.userEmail
    this.id = this.userId
  }
}
</script>

<style scoped>
form{
  max-width:1000px;
}

</style>
