<template>
      <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/background/background.jpg);">
            <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="distributorRegisterForm" @submit.prevent="submit">
                    <h3 class="box-title m-b-20">Sign Up As Distributor</h3>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <input type="text" name="uplineDistributorID" class="form-control" placeholder="Upline Distributor ID" v-model="registerForm.uplineDistributorID">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-xs-6">
                        <div>
                            <input type="text" name="firstName" class="form-control" placeholder="First Name" v-model="registerForm.firstName">
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                          <div>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" v-model="registerForm.lastName">
                          </div>
                      </div>
                    </div>
                    <div v-if="errors.first_name || errors.last_name">
                      <div class="text-danger" v-for="(error,index) in errors.first_name" :key="index">{{error}}</div>
                      <div class="text-danger" v-for="(error,index) in errors.last_name" :key="index">{{error}}</div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <input type="email" name="email" class="form-control" placeholder="Email" v-model="registerForm.email">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <input type="password" name="password" class="form-control" placeholder="Password" v-model="registerForm.password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" v-model="registerForm.confirm">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <select v-model="registerForm.nationality" class="form-control" >
                          <option :value="null" disabled>Nationality</option>
                          <option v-for="(country, index) in countryList" :key="index">{{country}}</option> 
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <input type="text" name="passportID" placeholder="Passport ID" class="form-control">
                      </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>

    </section>
</template>

<script>
let country = require("../../country");

export default {
  data() {
    return {
      registerForm: {
        uplineDistributorID: "",
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        nationality: null,
        passport: ""
      },
      errors: {}
    };
  },
  methods: {
    submit() {
      axios
        .post("http://localhost:8000/api/auth/distributor-register", {
          upline_distributor_id: this.registerForm.uplineDistributorID,
          first_name: this.registerForm.firstName,
          last_name: this.registerForm.lastName,
          email: this.registerForm.email,
          password: this.registerForm.password,
          passport_id: this.registerForm.passport,
          nationality: this.registerForm.nationality
        })
        .then(({ data }) => {
          if (data.errors) {
            if (data.errors.upline_distributor_id != undefined) {
              data.errors.upline_distributor_id.map(error => {
                toastr["error"](error);
              });
            }
            if (data.errors.first_name != undefined) {
              data.errors.first_name.map(error => {
                toastr["error"](error);
              });
            }
            if (data.errors.last_name != undefined) {
              data.errors.last_name.map(error => {
                toastr["error"](error);
              });
            }
            if (data.errors.email != undefined) {
              data.errors.email.map(error => {
                toastr["error"](error);
              });
            }
            if (data.errors.password != undefined) {
              data.errors.password.map(error => {
                toastr["error"](error);
              });
            }
            if (data.errors.passport_id != undefined) {
              data.errors.passport_id.map(error => {
                toastr["error"](error);
              });
            }
            if (data.errors.nationality != undefined) {
              data.errors.nationality.map(error => {
                toastr["error"](error);
              });
            }

            return;
          }

          toastr["success"]("Successfully Register");
        });
    }
  },
  computed: {
    countryList() {
      return country;
    }
  }
};
</script>

<style scoped>
.login-box {
  width: 450px;
}
</style>
