<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Pending Distributor</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Pending Distributor</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card bordered">
          <div class="card-body">
            <h3>Search</h3>
            <hr>
            <form>
              <div class="row p-3">
                <label>Date: </label>
                <div class="col-sm-5">
                  <datepicker :clear-button="true" v-model="filters.date" @input="filterResults" :format="dateFormatter" style="width:80%" input-class="form-control"></datepicker>
                </div>
                <label>Distributor: </label>
                <div class="col-sm-5">
                  <input v-model="filters.distributor_id" @input="filterResults" class="form-control" type="text">
                </div>
              </div>

              <div class="row p-3">
                <label>Email: </label>
                <div class="col-sm-5">
                  <input v-model="filters.email" @input="filterResults" style="width:80%" class="form-control" type="email">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card  p-3">
          <div class="card-body">
            <div v-if="sortedData.length == 0">No record found</div>
            <table v-if="sortedData.length > 0" class="table table-stripe">
              <thead>
                <tr>
                  <th @click="sort('created_at')" class="gray">Date <i :class="currentSortDir == 'asc' ? 'fa fa-arrow-up float-right' : 'fa fa-arrow-down float-right'"></i></th>
                  <th class="lightgray">Distributor</th>
                  <th class="gray">Email</th>
                  <th class="lightgray">Package</th>
                  <th class="gray">Status</th>
                  <th class="lightgray">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(distributor,index) in sortedData" :key="index">
                  <td>{{distributor.created_at.split(' ')[0]}}</td>
                  <td>{{distributor.distributor_id + " " +distributor.name}}</td>
                  <td>{{distributor.email}}</td>
                  <td>{{distributor.package_name}}</td>
                  <td style="text-transform:capitalize">{{distributor.status}}</td>
                  <td>
                    <router-link :to="'/pending-distributor/edit/' + distributor.distributor_id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                  </td>
                </tr>
              </tbody>
            </table>

            <div v-if="pagination.items != pagination.total" class="pagination btn-group float-right">
              <button class="btn btn-light" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Prev</button>
              <button class="btn btn-light" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import helper from "../../services/helper";

export default {
  data() {
    return {
      distributors: [],
      url: "/api/distributor/get-distributor/",
      currentSort: "created_at",
      currentSortDir: "desc",
      filters: {
        email: "",
        date: null,
        distributor_id: ""
      },
      pagination: []
    };
  },
  mounted() {
    this.getAllDistributor({
      params: { status: "pending" }
    });
  },
  methods: {
    getAllDistributor(params) {
      axios
        .get(this.url, params)
        .then(({ data: { data: users, success, errors } }) => {
          if (!success) {
            toastr["error"](errors);
            return;
          }
          this.distributors = users.data;
          this.makePagination(users);
        });
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        items: this.distributors.length,
        total: data.total
      };

      this.pagination = pagination;
    },
    fetchPagination(url) {
      this.url = url;
      this.getAllDistributor({
        params: { status: "pending" }
      });
    },
    sort(option) {
      if (option === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = option;
    },
    filterResults() {
      this.getAllDistributor({
        params: {
          status: "pending",
          byEmail: this.filters.email,
          byDate:
            this.filters.date == null
              ? ""
              : moment(this.filters.date).format("YYYY-MM-DD"),
          byDistributor_id: this.filters.distributor_id
        }
      });
    },
    dateFormatter(date) {
      return moment(date).format("YYYY-MM-DD");
    }
  },
  computed: {
    sortedData() {
      return this.distributors.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === "desc") modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      });
    }
  },
  components: {
    Datepicker
  }
};
</script>

<style>
label {
  line-height: 40px;
}
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}
.form-control[readonly] {
  background-color: #fff;
}
.bordered {
  border: solid 1px #eee !important;
}
</style>

