<template>
  <div>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Pending Transfer</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/home">Home</router-link>
          </li>
          <li class="breadcrumb-item active">Pending Transfer</li>
        </ol>
      </div>

      <div class="col-md-6 col-8 align-self-center">
        <div class="button-group">
          <button class="btn btn-primary float-right" @click="actionAll('approve')">Approve all</button>
          <button class="btn btn-warning float-right" @click="actionAll('reject')">Reject all</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div v-if="transfers.length > 0" v-for="(transfer,index) in transfers" :key="index" class="card ">
          <div class="card-body">
            <div class="row ">
              <div class="col">
                <form>
                  <table class="table">
                    <thead>
                      <tr>
                        <td><b>Date</b>: {{transfer.created_at.split(' ')[0]}}</td>
                        <td><b>Status</b>: {{transfer.status}}</td>
                      </tr>
                      <tr>
                        <td><b>From Distributor</b>: {{transfer.distributor_id_source}}</td>
                        <td><b>Wallet</b>: {{transfer.distributor_wallet_name_source}}</td>
                        <td><b>Amount</b>: {{transfer.amount_source}}</td>
                      </tr>
                      <tr>
                        <td><b>To Distributor</b>: {{transfer.distributor_id_destination}}</td>
                        <td><b>Wallet</b>: {{transfer.distributor_wallet_name_destination}}</td>
                        <td><b>Amount</b>: {{transfer.amount_destination}}</td>
                      </tr>
                      <tr>
                        <td><b>Comment</b>: </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="3" :class="{'form-group--error': $v.transfers.$each[index].remark.$error}">
                          <textarea v-model="$v.transfers.$each[index].remark.$model" class="form-control" rows="5"></textarea>
                          <div v-if="!$v.transfers.$each[index].remark.required" class="error">Comment is required!</div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" class="button-group">
                          <button :disabled="loading" type="button" data-toggle="tooltip" title="Approve" class="btn btn-primary float-right" @click="actionAll('approve',transfer, index)"><i class="fa fa-thumbs-o-up"></i></button>
                          <button :disabled="loading" type="button" data-toggle="tooltip" title="Reject" class="btn btn-warning float-right" @click="actionAll('reject',transfer, index)"><i class="fa fa-thumbs-o-down"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div v-if="transfers.length == 0">No records found 😔</div>
        <div v-if="pagination.items != pagination.total" class="button-group float-right">
          <button class="btn btn-light" @click="fetchPagination(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Prev</button>
          <button class="btn btn-light" @click="fetchPagination(pagination.next_page_url)" :disabled="!pagination.next_page_url">Next</button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators/";

export default {
  data() {
    return {
      transfers: [],
      url: "/api/admin/get-all-transfer/",
      pagination: [],
      loading: false
    };
  },
  validations: {
    transfers: {
      $each: {
        remark: {
          required
        }
      }
    }
  },
  mounted() {
    this.getAllTransfer();
  },
  methods: {
    getAllTransfer() {
      axios
        .get(this.url, { params: { status: "pending" } })
        .then(({ data: { data: transfers, success } }) => {
          if (success) {
            this.transfers = transfers.data;
            this.makePagination(transfers);
          }
        });
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        items: this.transfers.length,
        total: data.total
      };

      this.pagination = pagination;
    },
    fetchPagination(url) {
      this.url = url;
      this.getAllTransfer();
    },
    actionAll(status, postdata = null, index = null) {
      let url, postData;
      this.loading = true;

      if (status == "approve") {
        url = "/api/admin/approve-transfer";
      }
      if (status == "reject") {
        url = "/api/admin/reject-transfer";
      }

      if (postdata != null) {
        postData = [postdata];
      } else {
        postData = this.transfers;
        this.$v.$touch();

        if (this.$v.$invalid) {
          toastr["error"]("Please correct all the fields");
          this.loading = false;
          return;
        }
      }

      axios.post(url, postData).then(({ data }) => {
        if (!data.success) {
          toastr["error"](data.errors);
          this.loading = false;
          return;
        }
        toastr["success"](data.message);
        this.loading = false;
        if (index != null) {
          this.transfers.splice(index, 1);
        }
      });
    }
  }
};
</script>

<style scoped>
.gray {
  background-color: #eee;
}
.lightgray {
  background-color: rgb(231, 231, 231);
}
td {
  border: none;
}

thead td {
  text-transform: capitalize;
}
</style>

